.App {
  font-family: 'Roboto Slab', serif;
}
.contactForm {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info p {
  font-size: 2vh;
  width: 30%;
}
.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
}
.info h1 {
  font-size: 4vh;
}
.name {
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 36vw;
  margin-top: 3vh;
}
.senderInfo {
  display: flex;
  justify-content: space-between;
  width: 36vw;
  margin-top: 4vh;
}
.message {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 8vh;
  width: 36vw;
}

#form-input-control-phone {
  height: 4vh;
  font-size: 2vh;
  font-family: 'Source Code Pro', monospace;
  border-radius: 20px;
  border: 3px solid black;

  padding-left: 10px;
}
#form-input-control-last-name {
  height: 4vh;
  font-size: 2vh;
  font-family: 'Source Code Pro', monospace;
  border-radius: 20px;
  padding-left: 10px;
  border: 3px solid black;
}

#form-input-control-first-name {
  height: 4vh;
  font-size: 2vh;
  font-family: 'Source Code Pro', monospace;
  padding-left: 10px;
  border: 3px solid black;
  border-radius: 20px;
}
#form-input-control-email {
  height: 4vh;
  font-size: 2vh;
  font-family: 'Source Code Pro', monospace;
  border-radius: 20px;
  padding-left: 10px;
  border: 3px solid black;
}
#form-textarea-control-opinion {
  height: 8vh;
  font-size: 2vh;
  font-family: 'Source Code Pro', monospace;
  width: 100%;
  border-radius: 20px;
  padding-left: 10px;
  padding-top: 10px;
  border: 3px solid black;
}
.contactForm p {
  display: flex;
  justify-content: left;
  margin: 0;
  font-size: 1.8vh;
}
Button {
  font-size: 3vh;
  width: 10vw;
  height: 8vh;
  margin: 2vh 0;
  margin-bottom: 7.1vh;
  border-radius: 20px;
  font-family: 'Roboto Slab', serif;
  background-color: #212d40;
  color: #e3e4db;
  cursor: pointer;
  transition: ease 0.4s;
}
Button:hover {
  background-color: #e3e4db;
  color: #212d40;
}
