.footer {
  background-color: #212d40;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footContent {
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  color: #e3e4db;
  font-size: 10px;
}
.footerIcons {
  width: 22%;
  display: flex;
  justify-content: space-between;
  font-size: 300%;
}
.logo {
  border: 1px solid #e3e4db;
  padding: 0.5%;
  font-size: 200%;
}
a {
  color: #e3e4db;
}
.footContent h1 {
  cursor: pointer;
}
