.navbar {
  background-color: #212d40;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navContent {
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  color: #e3e4db;
}
.tab {
  cursor: pointer;
  transition: 0.4s;
  text-decoration-color: transparent;
}
.tab:hover {
  color: white;
  transition: 0.4s;
  text-decoration: underline;
  text-decoration-color: white;
}
.tab:hover::after {
  text-decoration-color: transparent;
}
.icons {
  width: 22%;
  display: flex;
  justify-content: space-between;
  font-size: 250%;
  transition: 0.4s;
}
.logo {
  border: 1px solid #e3e4db;
  padding: 0.5%;
  font-size: 200%;
  cursor: pointer;
}
.icon {
  transition: 0.4s;
}
.icon:hover {
  color: white;
}
.widgetsIcon {
  font-size: 200%;
  position: absolute;
  right: 100px;
}
